# BASIC INGESTION DATA FROM CSV TO POSTGRESQL

In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.2.1'

In [4]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", index_col=[0], nrows=100)

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    datetime64[ns]
 2   tpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   passenger_count        100 non-null    float64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    float64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
 18  airport_fee            0 non-null      float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 15.6+ KB

In [6]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [10]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [11]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", index_col=[0], iterator=True, chunksize=100000)
df_iter

In [12]:
df = next(df_iter)
len(df)

100000

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [18]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [19]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

1000

In [21]:
from time import time

In [23]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
                                             
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print("Inserted Another Chunk of Datas....., took %.3f Seconds" % (t_end - t_start))

Inserted Another Chunk of Datas....., took 11.735 Seconds
Inserted Another Chunk of Datas....., took 12.757 Seconds
Inserted Another Chunk of Datas....., took 12.581 Seconds
Inserted Another Chunk of Datas....., took 11.941 Seconds
Inserted Another Chunk of Datas....., took 11.254 Seconds
Inserted Another Chunk of Datas....., took 14.551 Seconds

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23156\4131730774.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Inserted Another Chunk of Datas....., took 13.097 Seconds
Inserted Another Chunk of Datas....., took 15.578 Seconds
Inserted Another Chunk of Datas....., took 11.532 Seconds
Inserted Another Chunk of Datas....., took 11.730 Seconds
Inserted Another Chunk of Datas....., took 13.788 Seconds

C:\Users\ahmad\AppData\Local\Temp\ipykernel_23156\4131730774.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted Another Chunk of Datas....., took 12.386 Seconds
Inserted Another Chunk of Datas....., took 8.578 Seconds

StopIteration:

# END OF THE INGESTION CODE

In [3]:
df_zones  = pd.read_csv("taxi_zone_lookup.csv")

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

NameError: name 'engine' is not defined

In [7]:
df_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       264 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [27]:
URLS = "https://kick.com/".split(',')

In [28]:
URLS

['https://kick.com/']

In [29]:
for index, url in enumerate(URLS):
    print(url)

https://kick.com/

In [48]:
date = ["2021-01-01 00:30:10"]
date= pd.to_datetime(date, format="%Y-%m-%d %H:%M:%S")
type(date)
datas = pd.DataFrame(date)
datas
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 140.0 bytes